/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */

@import 'components/components';

#headline {
  padding: 0.8em;
  color: white;
  font-family: Roboto, sans-serif;
  background-image: url(../images/background.jpg);
  background-size: cover;
        @media (min-width: 600px) {
           padding: 20px 5%;
            
              #blurb {
              float: left;
              font-weight: 200;
              width: 50%;
              font-size: 18px;
              box-sizing: border-box;
              padding-right: 10px;
            }

            #register {
              float:right;
              padding: 20px;
              width: 50%;
              box-sizing: border-box;
              font-weight: 300;
            }

            br {
              clear: both;
            }
    
        }
}

body{
    background-color: #000;
}

 #section2 {
            img {
                
               width: 30%;
               margin: 1%;
               box-sizing: border-box;
               border-radius: 50% 50%;
               box-shadow: black 0px 0px 5px;
                
                @media screen and (max-width: 600px) {
                     width: auto;
                    border-radius: 0;
                }
            }
     }

        
   @media screen and (max-width: 600px) {
       
       
 
          #section1{
                  ul {
                  box-sizing: border-box;
                  float: left;
                  width: 50%;
                  padding-right: 1em;
                  }
            video {
            width: 50%;
            float: right;
            }
        }
         
       
       
      table {

               thead {
                display: none;
              }

              td {
                display: block;
                position: relative;
                padding-left: 50%;
                padding-top: 13px;
                padding-bottom: 13px;
                text-align: left;
                background: #e9e9e9;
                  &:before {
                    content: attr(data-th) " :";
                    display: inline-block;
                    color: #000000;
                    background: #e9e9e9;
                    border-right: 2px solid transparent;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 33%;
                    max-height: 100%;

                    font-size: 16px;
                    font-weight: 300;
                    padding-left: 13px;
                    padding-top: 13px;
                  }
              }

          
      }
    }
